# PROJECT DEADZONE dust profile v0.1

dust {
    B:affectedByWind=true
    S:chunkPollutionInfluence=NEVER
    S:color=0xff999999
    I:concentrationAltitude=-65
    I:criticalAmount=768
    S:dimensionBlackList <
     >
    S:dimensionWhiteList <
     >
    B:dissipateExcessive=true
    S:emissionRate=1.0
    S:filterMaterials <
        paper, 8, gray_dye
     >
    S:layeredBlock=supplementaries:ash, 1-8
    I:lowerExplosiveLimit=0
    S:motionVelocity=0.1
    S:passableBlocks <
        #minecraft:carpets
        #minecraft:trapdoors
        minecraft:mangrove_roots:*
     >
    S:pregeneratedClouds=0-0, 0, false
    S:textColor=white
}
