# PROJECT DEADZONE sulfur profile v0.1

sulfur {
    B:affectedByWind=true
    S:chunkPollutionInfluence=CLOUD
    S:color=0xffe5e533
    I:concentrationAltitude=190
    # Upstream 128 was too punitive for a multiplayer industry hub.
    I:criticalAmount=384
    S:dimensionBlackList <
     >
    S:dimensionWhiteList <
     >
    B:dissipateExcessive=true
    S:emissionRate=1.0
    S:filterMaterials <
        #minecraft:wool, 8, yellow_dye
     >
    I:lowerExplosiveLimit=0
    S:motionVelocity=0.15
    S:passableBlocks <
        #minecraft:carpets
        #minecraft:trapdoors
        minecraft:mangrove_roots:*
     >
    S:pregeneratedClouds=0-0, 0, false
    S:textColor=yellow
}
