# PROJECT DEADZONE: pollution changes Horde pressure, not individual mob buffs.

Impacts {
    S:immuneEntities <
     >

    dust {
        S:air <
         >
        S:contact <
         >
        S:rain <
         >
    }

    carbon {
        S:air <
         >
        S:contact <
         >
        S:rain <
         >
    }

    sulfur {
        S:air <
         >
        S:contact <
         >
        S:rain <
         >
    }
}
