#NPC Base Configuration
#
#allowBypassInvulnerability: Allows damage types like /kill command or void to bypass NPC invulnerability (default: true)
#Thu Jul 30 22:11:57 JST 2026
allowBypassInvulnerability=true
