#Spawner Type Configuration
#Thu Jul 30 22:11:57 JST 2026
GroupSpawner\:MinSpawnDelay=3000
SingleSpawner\:MinSpawnDelay=3000
WorldSpawner\:MinSpawnDelay=3000
DefaultSpawner\:SpawnCount=2
DefaultSpawner\:MinSpawnDelay=400
WorldSpawner\:MaxNearbyEntities=6
WorldSpawner\:SpawnRange=6
BossSpawner\:RequiredPlayerRange=32
GroupSpawner\:SpawnCount=3
WorldSpawner\:MaxSpawnDelay=12000
SingleSpawner\:SpawnCount=1
BossSpawner\:MaxNearbyEntities=1
WorldSpawner\:SpawnCount=3
SingleSpawner\:SpawnRange=4
GroupSpawner\:SpawnRange=6
SingleSpawner\:RequiredPlayerRange=8
GroupSpawner\:Delay=600
BossSpawner\:Delay=600
DefaultSpawner\:RequiredPlayerRange=16
DefaultSpawner\:Delay=600
BossSpawner\:MaxSpawnDelay=18000
WorldSpawner\:RequiredPlayerRange=12
GroupSpawner\:RequiredPlayerRange=12
BossSpawner\:SpawnRange=16
DefaultSpawner\:MaxSpawnDelay=1200
WorldSpawner\:Delay=600
DefaultSpawner\:MaxNearbyEntities=4
SingleSpawner\:MaxSpawnDelay=9000
BossSpawner\:SpawnCount=1
SingleSpawner\:Delay=600
GroupSpawner\:MaxSpawnDelay=12000
SingleSpawner\:MaxNearbyEntities=1
DefaultSpawner\:SpawnRange=8
GroupSpawner\:MaxNearbyEntities=6
BossSpawner\:MinSpawnDelay=6000
